
<div class="container mt-5 ml-5">
   <label for="titulo"> Ingresa el titulo: </label>
   <Input type="text" placeholder="Titulo" id="titulo"  @value={{this.title}} />
   <button {{on "click" this.model}}class="btn btn-primary"> Buscar</button>
   <button {{on "click" this.limpiar}}class="btn btn-primary"> Limpiar</button>
</div>
 
 <div class="card">
    <div class="card-body">
        <img src={{this.img}} alt="">
        <h1>{{this.name}}</h1>
    </div> 
   
 </div>